<div class="d-flex justify-content-around">
<tbody>
  <tr>
    <th class="col-md-4">
       <%= link_to "Search 様々な地域の家を探そう",search_index_path %>
    </th>
    <th class="col-md-4">
       <%= link_to "Post 情報を投稿し共有しよう", new_post_path %>
    </th>
    <th class="col-md-4">
       <%= link_to "List みんなの投稿を覗いてみよう", post_index_path %>
    </th>
  </tr>
</tbody>
</div>