<div class="text-center border d-inline list-unstyled">
<div class ="top">

　　<h2>Welcome Calculate</h2>

　　<%= link_to "Calculate", new_calculate_path %>
</div>

<%= render 'calculate/template', calculate: @calculate %>
</div>
<!--https://papael14.com/rails-calculation/-->