<h1>Calculate#new</h1>
<p>Find me in app/views/calcurate/new.html.erb</p>
<li>
 <%= link_to "Search 様々な地域の家を探そう", new_search_path %>
</li>

<li>
 <%= link_to "Post 情報を投稿し共有しよう", new_post_path %>
</li>

<li>
 <%= link_to "List みんなの投稿を覗いてみよう", post_index_path %>
</li>