
  <tbody>
    <tr>
      <td>
        <%= link_to "Post 情報を投稿し共有しよう", new_post_path %>
      </td>
      <td>
         <%= link_to "List みんなの投稿を覗いてみよう", post_index_path %>
      </td>
      <td>
         <%= link_to "Calculate 様々な内訳を計算しよう", new_calculate_path %>
      </td>
    </tr>
  </tbody>

