<h1>Search#show</h1>
<p>Find me in app/views/search/show.html.erb</p>

<li>
 <%= link_to "Post 情報を投稿し共有しよう", new_post_path %>
</li>

<li>
 <%= link_to "List みんなの投稿を覗いてみよう", post_index_path %>
</li>

<li>
 <%= link_to "Calculate 様々な内訳を計算しよう", new_calculate_path %>
</li>
