<div class="text-center border d-inline list-unstyled">
<h2>About</h2>
<h3>Taku Homeとは</h3>
<h4>どんな場所にいても自分が住みたい場所を熟知でき</br>

安心して生活できるよう自身の収入から</br>

生活費の内訳を差し引きし計算できる</br>

賃貸コミュニティサイトです</h4>
</div>
