<div class="text-center border d-inline list-unstyled">
<h1>completed!!</h1>
      <h4>
        <%= link_to "Search", choice_path %>
      </h4>
      <h4>
        <%= link_to "Post", new_post_path %>
      </h4>
      <h4>
        <%= link_to "List", post_index_path %>
      </h4>
      <h4>
        <%= link_to "Calculate", calculate_index_path  %>
      </h4>
</div>