<div class="text-center border d-inline list-unstyled">
<h2>Introduction</h2>
<h3>Takumi（1993年生まれ)</h3>
<h4>工業大学にて機械工学を学びダイヤモンド研磨の研究に励んだ。</br>
その後、ものづくりに興味を持ち建設業の仕事に就職🏢</br>

仕事で様々なホームページを閲覧する時やプライベートでもアプリやサイトを使用する時に</br>
私にもこういうサイトやホームページを作ってみたい！という熱い思いで現在プログラミングを学習中💻</br>

誰よりも負けず嫌いで途中で投げ出すことが嫌いな為、何事にも全力で取り組む姿勢は</br>
誰にも負けません🔥🔥🔥</br>

今サイトをどうぞ宜しく御願いします!</h4>
</div>
