<div class="text-center border d-inline list-unstyled">
<h1>Home</h1>
  <h2><%= image_tag 'IMG_9840.png', size: "400x400" %></h2>
<h3>
<%= link_to "Log in", new_customer_session_path %>
</h3>
 <h3>
<%= link_to "Sign up", new_customer_registration_path %>
</h3>
</div>
